@charset "utf-8";
/* CSS Geral BASIC */
/* Nome das Fontes:  cabinbold cabinregular yanone_kaffeesatzbold yanone_kaffeesatzregular allerbold allerregular  */


/* Reset */
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li { margin:0 auto; padding:0 auto; list-style:none; outline:none; border:none; }
/* End Reset */


/*------------------------------- Body ---------------------------------*/
body { margin: 0px 0px 0px 0px; padding:0; letter-spacing:0px; font-family: 'cabinregular', sans-serif; color:#000; list-style:none; overflow-x:hidden;}

html { border:0; height:100%; }

*:focus { outline: none; }

input { background-color:transparent; border:none; letter-spacing:0px; font-size:15px; color:#939393;  }

/*------------------------------- Tags ---------------------------------*/
h1 { font-family: 'allerregular', sans-serif; font-size:46px;   color:#FFF; margin:5px 0px 10px 0px;  line-height:48px; font-weight:normal;}

h2 { font-family: 'allerregular', sans-serif; font-size:32.5px; color:#FFF; margin:5px 0px 10px 0px;  line-height:48px; font-weight:normal;}

h3 { font-family: 'allerregular', sans-serif; font-size:27px; color:#515e94; margin:10px 0 0;  line-height:29px; font-weight:normal; }

h4 { font-family: 'allerregular', sans-serif; font-size:27px; color:#515e94; margin:0;  line-height:29px; font-weight:normal; }

h5 { font-family: 'allerregular', sans-serif; font-size:17px; color:#b8b8b8; margin:0px 0px 5px 0px;  line-height:19px; font-weight:normal; }
h5 span {font-size:27px; color:#707478; font-family: 'yanone_kaffeesatzbold', sans-serif; margin:0;}

h6 { font-family: 'yanone_kaffeesatzbold', sans-serif; font-size:16px; color:#515e94; margin:0px 0px 2px 0px;  line-height:18px; font-weight:normal;	 }


a { font-size:15px; color:#000; margin:0px 0px 2px 0px; line-height:22px; text-decoration:none; }

a:hover { text-decoration:underline; }

a:visited { text-decoration:none; outline:none; }

a:link, a.link, a:visited, a.visited, .efeito_opacity{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;text-decoration:none;
}
a img {opacity:1;filter:Alpha(opacity=100);}
a img:hover {
    opacity: 0.8;
    filter:Alpha(opacity=80);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;text-decoration:none;
}




/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* -------------------------------- GERAL -------------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
.clear {clear:both; }
.logo {background:url(../images/logo.png) center center no-repeat; display:block; width:185px; height:100px; padding:11px 13px;}
.botao {padding:0 5px; width:130px; height:30px; display:block; line-height:30px; border-radius:5px; background:url(../images/bg_botao.jpg) center center; margin:15px 10px; font-size:15px; text-transform:uppercase; color:#767676; font-family: 'allerregular', sans-serif;}
.botao:hover {background:url(../images/bg_botao_hover.jpg) center center; color:#FFF; }

.saiba_mais {display:block; width:134px; padding:0 10px; height:42px; line-height:42px; background:url(../images/btn_saiba_mais.png) center center no-repeat; font-size:18px; color:#d2d3d7; text-transform:uppercase; font-family: 'allerregular', sans-serif; letter-spacing:0.5px;}
.saiba_mais:hover {color:#000; background:url(../images/btn_saiba_mais_hover.png) center center no-repeat;}





/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* -------------------------------- TOPO -------------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#content_topo {width:100%; height:115px; background: #d2d3d7 url(../images/bg_topo.jpg) center center no-repeat;}
#content_topo #topo {width:1000px; margin:auto; left:50%; margin-left:-500px; position:relative; z-index:999;}
#content_topo #topo .logo {float:left;}

#content_topo #topo #menu {margin:0; padding:0 0 0 20px; float:left; position:relative;}
#content_topo #topo #menu li {float:left; border-right:1px solid #d2d3d7; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
#content_topo #topo #menu li:hover, #content_topo #topo #menu li.menu_ativo {background:#d2d3d7; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
#content_topo #topo #menu li:first-child {border-left:1px solid #d2d3d7;}

#content_topo #topo #menu li a {height:115px; line-height:140px; display:block; padding:0 10px; margin:0; overflow:hidden; color:#515e94; font-family: 'allerbold', sans-serif; font-size:18px; font-weight:normal;}
#content_topo #topo #menu li a.home {background:url(../images/icon_home.png) center 24px no-repeat;}
#content_topo #topo #menu li a.empresa {background:url(../images/icon_empresa.png) center 24px no-repeat;}
#content_topo #topo #menu li a.produtos {background:url(../images/icon_produtos.png) center 24px no-repeat;}
#content_topo #topo #menu li a.disklimpeza {background:url(../images/icon_disklimpeza.png) center 24px no-repeat;}
#content_topo #topo #menu li a.dicas {background:url(../images/icon_dicas.png) center 24px no-repeat;}
#content_topo #topo #menu li a.contatos {background:url(../images/icon_contato.png) center 24px no-repeat;}

#content_barra_info {width:100%; height:54px; background:url(../images/bg_barra_topo.jpg) center center repeat-x;}
#content_barra_info #barra_info {width:1000px; margin:auto; left:50%; margin-left:-500px; position:relative; z-index:999; overflow:hidden;}
#content_barra_info #barra_info .telefone {float:left; margin:10px; padding-left:30px; background:url(../images/icon_telefone_topo.png) left 15px no-repeat; }
#content_barra_info #barra_info .telefone p {color:#515e94; text-align:right; font-size:10px; font-family: 'allerregular', sans-serif;}

#content_barra_info #barra_info .botao{float:left;}
#content_barra_info #barra_info .botao .icon_orcamento {background:url(../images/icon_orcamento_topo.png) center center no-repeat; display:block; width:26px; height:27px; float:right;}
#content_barra_info #barra_info .botao .icon_como_chegar {background:url(../images/icon_como_chegar.png) center center no-repeat; display:block; width:20px; height:28px; float:right;}













/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* -------------------------------- SLIDER -------------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#content_slider {width:100%; height:350px; background:url(../images/pattern_azul.jpg) center center;}
#content_slider #slider {width:1000px; height:350px; margin:auto; left:50%; margin-left:-500px; position:relative; }
#content_slider #slider {}
#content_slider #slider h1, #content_slider #slider h2 {position:absolute; top:51px; left:7px; text-align:left;}
#content_slider #slider p {width:520px; text-align:justify; font-size:17px; line-height:19px; position:absolute; top:120px; left:7px;}
#content_slider #slider img {float:right; position:relative; z-index:0;}

#content_slider #slider ul {position:absolute; top:120px; left:25px;}
#content_slider #slider ul li {background:url(../images/estrela_slider.png) left center no-repeat; padding-left:30px; text-align:left; font-family: 'cabinregular', sans-serif; font-size:15px; line-height:30px;}

#content_slider #slider .saiba_mais {position:absolute; left:327px; top:250px;}






/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ----------------------------- TOPO INTERNAS ----------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#content_banner {width:100%; height:162px; background:url(../images/pattern_azul.jpg) center center;}
#content_banner #banner {width:1000px; height:162px; margin:auto; left:50%; margin-left:-500px; position:relative; }
#content_banner #banner img {position: absolute; z-index:98;}
#content_banner #banner h1 {position:absolute; top:55px; left:0; z-index:99;}

    /* EMPRESA */
    #content_banner.empresa #banner img {top: -180px; right:-275px;}


    /* PRODUTOS */
    #content_banner.produtos #banner h1 {font-size:30px; line-height:34px; top:45px; letter-spacing:-1px;}
    #content_banner.produtos #banner img {top: -169px; right:-280px;}

    /* DISKLIMPEZA */
    #content_banner.disklimpeza #banner h1 {}
    #content_banner.disklimpeza #banner img {top: -169px; right:-270px;}

    /* DICAS */
    #content_banner.dicas #banner h1 {}
    #content_banner.dicas #banner img {top: -170px; right:-280px;}
















/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------- CONTAINER (CONTEUDO) ------------------------ */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#conteudo {width:960px; margin:0 auto;}
#conteudo h2 {font-size:40px; line-height:42px; color:#515e94; text-transform:uppercase; font-family: 'allerbold', sans-serif;}



/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------- CHAMADAS PRODUTO HOME ------------------------ */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#chamada_produtos {position:relative;}
#chamada_produtos h3.titulo {padding:15px 0 0 50px; margin:5px 10px; background:url(../images/icon_produtos.png) 10px center no-repeat, url(../images/linha.jpg) bottom center repeat-x;}
#chamada_produtos #carrousel {padding:0 9px; margin:10px -10px 0 -10px; overflow:hidden; display:block; width:960px;}
#chamada_produtos #carrousel li {float:left; padding:10px 8px;  width:160px; height:258px; margin:0 8px; border-radius:10px; background:#e9e9e9}
#chamada_produtos #carrousel li img { max-width:160px; max-height:218px;}
#chamada_produtos #carrousel li p {color:#515e94; text-transform:uppercase; font-size:20px; line-height:21px; font-family: 'yanone_kaffeesatzbold', sans-serif; text-align:center;}

.seta_voltar, .seta_avancar {display:block !important; width:31px; height:31px; position:absolute; top:5px; text-indent:-9999px}
.seta_voltar:hover, .seta_avancar:hover {opacity: 0.7; filter:Alpha(opacity=70);}
.seta_voltar {background:url(../images/icon_carrousel_left.png) center center no-repeat; right:50px}
.seta_avancar {background:url(../images/icon_carrousel_right.png) center center no-repeat; right:10px;}





/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------- COLUNAS HOME ------------------------ */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
.content_coluna {width:100%; margin:30px 0; overflow:hidden;}
.content_coluna .coluna {width:31.33%; margin:1%; display:block; float:left;}

.content_coluna .coluna .titulo {border-bottom:solid 5px #505d94;}

.icon_disklimpeza, .icon_dicas, .icon_empresa {width:61px; height:33px; display:block; margin-right:5px; float:left;}
.content_coluna .coluna .titulo .icon_disklimpeza {background:#505d94 url(../images/icon_disklimpeza.png) center center no-repeat;}
.content_coluna .coluna .titulo .icon_dicas {background:#505d94 url(../images/icon_dicas.png) center center no-repeat;}
.content_coluna .coluna .titulo .icon_empresa {background:#505d94 url(../images/icon_empresa.png) center center no-repeat;}

.content_coluna .coluna .saiba_mais {display:block; width:88px; height:24px; line-height:24px; background:url(../images/btn_saiba_mais_azul.jpg) center center repeat-x; border-radius:5px; font-family: 'allerregular', sans-serif; color:#FFF; font-size:14px; text-align:center; float:right; margin-top:10px;}
.content_coluna .coluna .saiba_mais:hover {opacity: 0.9; filter:Alpha(opacity=90); color:#000;}

.content_coluna .coluna .lista {overflow:hidden; margin:0; padding:0; /*height:300px;*/}
.content_coluna .coluna .lista li {overflow:hidden; margin:10px 0; padding-bottom:15px; border-bottom: dashed 1px #515e94; height:71px;}
.content_coluna .coluna .lista li img {border-radius:5px; float:left; max-width:130px; max-height:87px; min-width:130px; min-height:87px;}
.content_coluna .coluna .lista .content_descricao {float:right; width:165px;}
.content_coluna .coluna .lista .content_descricao p {color:#424242; font-size:13px; line-height:15px; font-family: 'cabinregular', sans-serif; height:47px; overflow:hidden;}

.content_coluna .coluna .chamada_empresa {overflow:hidden; margin:10px 0 0 0; height:300px;}
.content_coluna .coluna .chamada_empresa img {max-width:300px; border-radius:5px;}
.content_coluna .coluna .chamada_empresa p {color:#424242; font-size:13px; line-height:15px; font-family: 'cabinregular', sans-serif;}






/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------- PÁGINA EMPRESA ------------------------ */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#conteudo #lista_clientes {overflow:hidden; padding:40px 20px;}
#conteudo #lista_clientes h2 {padding-left:10px;}
#conteudo #lista_clientes ul {margin:0; padding:0;}
#conteudo #lista_clientes ul li {float:left; padding:0 !important; margin:15px 15px !important; background:none !important;}

#conteudo.empresa {}
#conteudo.empresa p {margin:15px 0;}
#conteudo.empresa ul {margin:20px 0;}
#conteudo.empresa ul li {background:url(../images/icon_checked.png) center left no-repeat; padding-left:20px; margin:5px 0;}











/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------- PÁGINA DISKLIMPEZA ------------------------ */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#conteudo.disklimpeza {}
#conteudo.disklimpeza .msg {width:715px; margin:0 auto; display:block; text-align:center; color:#7283a6; font-size:26px; line-height:28px; font-family: 'yanone_kaffeesatzbold', sans-serif; padding-bottom:15px; margin-bottom:15px; background:url(../images/linha_sombra.png) center bottom no-repeat;}

#lista_servicos {overflow:hidden; margin:20px 0 40px;}
#lista_servicos ul {overflow:hidden; margin:0 -15px 0 -15px; padding:0; overflow:hidden;}
#lista_servicos li a {float:left; margin:10px 8px; width:310px; height:240px; overflow:hidden;}
#lista_servicos li a:hover {background:url(../images/bg_lista_servico_hover.jpg) top center no-repeat;}
#lista_servicos li a:hover img {opacity: 0.6; filter:Alpha(opacity=60);}
#lista_servicos li a img {margin:0; padding:0; max-width:310px; min-width:310px; max-height:201px; min-height:201px;}
#lista_servicos li a h5 {text-align:center; height:40px; line-height:40px; font-size:26px; background:url(../images/bg_titulo_lista_disklimpeza.jpg) center top repeat-x; margin-top:-7px; position:relative; z-index:99; color:#FFF; font-family: 'yanone_kaffeesatzregular', sans-serif;}

.disklimpeza .content_banner_titulo {width:960px; height:175px; display:block; overflow:hidden; position:relative; z-index:9; margin-bottom:20px;}
.disklimpeza .content_banner_titulo .sombra_topo {background:url(../images/sombra_topo_disklimpeza.png) top center repeat-x; width:960px; height:10px; position:absolute; table-layout:0; left:0; z-index:8;}
.disklimpeza .content_banner_titulo img {min-width:960px; max-width:960px; min-height:175px; max-height:175px; position:absolute; top:0; left:0;}
.disklimpeza .content_banner_titulo h1 {position:absolute; bottom:0; left:0; width:940px; height:44px; line-height:44px; font-size:15px; text-transform:none; color:#FFF; padding:0 10px; margin:0; background:url(../images/transparencia_preto.png);}

.disklimpeza .lista_servico_interna {margin:0; padding:0; overflow:hidden;}

.disklimpeza #lista_servico_interna li {margin:60px 0; overflow:hidden;}
.disklimpeza #lista_servico_interna .li0 .descricao {float:left;}
.disklimpeza #lista_servico_interna .li1 .descricao {float:right;}
.disklimpeza #lista_servico_interna .li0 .content_mascara_img {float:right;}
.disklimpeza #lista_servico_interna .li1 .content_mascara_img {float:left;}

.disklimpeza #lista_servico_interna .descricao {width:510px;}
.disklimpeza #lista_servico_interna h2 a {color:#7283a6; font-size:31px; line-height:32px; margin:0; font-family: 'yanone_kaffeesatzregular ', sans-serif; letter-spacing:-1px; font-weight:normal;}
.disklimpeza #lista_servico_interna p {color:#696969; font-size:15px; line-height:17px;}
.disklimpeza #lista_servico_interna .content_mascara_img {width:409px; height:181px; display:block; position:relative; overflow:hidden;}
.disklimpeza #lista_servico_interna .content_mascara_img .mascara_img {display:block; width:409px; height:181px; display:block; position:absolute; top:0; left:0; z-index:9; background:url(../images/mascara_img_servico.png) center center no-repeat;}
.disklimpeza #lista_servico_interna .content_mascara_img img {min-width:409px; max-width:409px; min-height:181px; max-height:181px; position:absolute; top:0; left:0; z-index:8;}









/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ---------------------------- PÁGINA PRODUTOS --------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#conteudo.produtos {position:relative;}
#lista_produtos {margin:50px 0 20px 0; min-height:270px; margin-right:-30px; padding:0; overflow:hidden;}
#lista_produtos li {float:left; margin:10px 16px 10px 0; width:210px; height:230px; padding:10px; background:url(../images/bg_lista_dicas.png) center center no-repeat; position:relative;}
#lista_produtos li .categoria {float:right; margin:0 10px; font-size:12px; color:#919191; width:200px; height:20px; text-align:right;}
#lista_produtos li img {border-radius:5px;}
#lista_produtos li p {color:#515e94; font-family: 'yanone_kaffeesatzregular', sans-serif; font-size:17px; line-height:19px; width:200px; margin:0; height:72px; overflow:hidden;}

#lista_produtos li .preco {color:#151414; font-size:21px; font-family: 'yanone_kaffeesatzregular', sans-serif; position:absolute; bottom:28px; left:20px; height:22px; width:100px}

#lista_produtos li .leia_mais {border-radius:5px; width:100px; height:20px; position:absolute; bottom:10px; right:20px; display:block; color:#FFF; text-align:center; background:url(../images/btn_saiba_mais_azul.jpg) center center repeat-x; margin:5px 0 20px;}
#lista_produtos li .leia_mais:hover {opacity: 0.9; filter:Alpha(opacity=90); color:#000;}

/* INTERNA DE PRODUTOS */
#conteudo.produtos #content_holder {margin-top:100px;}

#galeria_produto {overflow:hidden; float:left; margin-right:20px;}
#galeria_produto #content_imgs_principal {display:block; width:400px; height:300px; overflow:hidden; border-radius:5px; background:#f5f1ee;}
#galeria_produto #content_imgs_principal #img_principal {width:380px; height:280px; margin:10px; position:relative;}
#galeria_produto #content_imgs_principal #img_principal img {max-width:380px; min-width:380px; max-height:280px; min-height:280px; position:absolute; top:0; left:0; display:none;}
#galeria_produto #content_imgs_principal #img_principal img:hover {opacity:1;filter:Alpha(opacity=100);}
#galeria_produto #content_imgs_principal #img_principal img:first-child {display:block;}

#galeria_produto #content_tumbs {width:356px; position:relative;}
#galeria_produto #content_tumbs .seta_voltar {left:5px; top:20px;}
#galeria_produto #content_tumbs .seta_avancar {right:-45px; top:20px;}
#galeria_produto #content_tumbs .caroufredsel_wrapper {width:310px !important; margin:0 40px !important;}

#content_informacoes_produtos h2 {font-family: 'yanone_kaffeesatzbold', sans-serif; font-size:30px; color:#515e94; line-height:32px; font-weight:normal;}
#content_informacoes_produtos .preco {color:#a10000; font-size:30px; font-family: 'yanone_kaffeesatzregular', sans-serif;}


#galeria_produto #content_tumbs ul {margin:0 18px !important; padding:0;}
#galeria_produto #content_tumbs ul li {float:left; width:78px; height:57px; margin:5px 10px 0 0; padding:5px; border-radius:5px; background:#f5f1ee;}
#galeria_produto #content_tumbs ul li img {max-width:77px; min-width:77px; max-width:57px; min-height:57px;}


#lista_produtos.dentro {margin:0px 0 20px 0;}
#lista_produtos.dentro li {margin:10px 10px 10px 0;}


/* --------------------- FILTROS --------------------- */
#content_filtros {overflow:hidden; min-height:50px; width:100%; border-top:solid 4px #d2d3d7; margin-top:15px; position:absolute; z-index:9999;}
#content_filtros h1 {color:#707478; font-size:25px; line-height:27px; margin:0px 0px 0px 5px; font-family: 'yanone_kaffeesatzbold', sans-serif;}

#content_filtros #filtro_categoria,
#filtro_marca {background:#d2d3d7; overflow:hidden; padding-top:10px;}


#content_filtros #filtro_categoria {display:none;}

#filtro_categoria {margin-top:50px; overflow:hidden; padding-top:10px;}
#filtro_categoria ul {padding:0; margin:0;}
#filtro_categoria ul li {float:left; padding:10px 8px; margin:6px; background:#e9e9e9; border-radius:5px; text-align:center;}
#filtro_categoria ul li p {color:#515e94; font-size:21px; font-family: 'yanone_kaffeesatzbold', sans-serif;}
#filtro_categoria ul li img {opacity: 0.5; filter:Alpha(opacity=50); max-width:161px; min-width:161px; min-height:218px; max-height:218px;}
#filtro_categoria ul li img:hover {opacity: 1; filter:Alpha(opacity=100);}


#content_filtros #filtro_marca {display:none;}
#content_filtros #filtro_marca ul {margin:0; padding:0;}
#content_filtros #filtro_marca ul li {float:left; margin:5px 3px;}
#content_filtros #filtro_marca ul li img {}


#botoes_filtros {width:280px; position:absolute; top:0; right:10px;}
#botoes_filtros h5 {float:left; color:#707478; font-size:17px; font-family: 'yanone_kaffeesatzbold', sans-serif;}
#botoes_filtros a {background:#d2d3d7; padding:3px 5px; margin:0 0 0 10px; border-radius:0 0 5px 5px; color:#707478; font-size:22px; font-family: 'yanone_kaffeesatzbold', sans-serif; display:block; overflow:hidden; text-align:center; float:left;}
#botoes_filtros a:hover, #botoes_filtros a.active {background:#bababf;}










/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ---------------------------- PÁGINA DICAS --------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#form_busca {background:#d2d3d7; padding:3px; height:34px; border-radius:5px;}
#form_busca #busca {width:885px; height:30px; line-height:30px; margin:1px 5px 1px 1px; padding-left:20px; float:left; color:#838282; font-size:21px; font-family: 'yanone_kaffeesatzregular ', sans-serif;}
#form_busca #enviar {width:41px; height:32px; display:block; background:url(../images/icon_input_search.png) center center no-repeat; text-indent:-9999px; float:right;}

/* PLACEHOLDER */
#form_busca input::-webkit-input-placeholder { color:#838282; font-size:21px; font-family: 'yanone_kaffeesatzregular ', sans-serif; }
#form_busca input::-moz-placeholder { color:#838282; font-size:21px; font-family: 'yanone_kaffeesatzregular ', sans-serif; } /* firefox 19+ */
#form_busca input:-ms-input-placeholder { color:#838282; font-size:21px; font-family: 'yanone_kaffeesatzregular ', sans-serif; } /* ie */
#form_busca input:-moz-placeholder { color:#838282; font-size:21px; font-family: 'yanone_kaffeesatzregular ', sans-serif; }

#lista_dicas {margin:20px 0; margin-right:-30px; padding:0; overflow:hidden;}
#lista_dicas li {float:left; margin:10px 16px 10px 0; width:210px; height:230px; padding:10px; background:url(../images/bg_lista_dicas.png) center center no-repeat;}
#lista_dicas li .data {float:right; margin:0 10px; font-size:12px; color:#919191; width:50px; height:20px;}
#lista_dicas li img {border-radius:5px; max-width:200px; max-height:112px; min-width:200px; min-height:112px;}
#lista_dicas li p {color:#515e94; font-family: 'yanone_kaffeesatzbold', sans-serif; font-size:21px; line-height:23px; width:200px; margin:0; height:72px; overflow:hidden;}



/* INTERNA DE DICAS */
#content_holder {margin:20px 0; overflow:hidden;}
#content_holder #content_principal {float:left; width:700px;}
#content_holder #content_principal .data {color:#919191; font-size:15px;}
#content_holder #content_principal h1 {color:#515e94; font-family: 'yanone_kaffeesatzbold', sans-serif; font-size:21px; line-height:23px;}
#content_holder #content_principal img {border-radius:5px; margin-bottom:10px; max-width:700px;}
#content_holder #content_principal p {line-height:17px; text-align:justify;}
#content_holder #content_principal p+p {margin:10px 0;}

#content_holder #content_auxiliar {float:right;  width:250px;}
#content_holder #content_auxiliar .titulos {float:right; margin-left:10px;}
#content_holder #content_auxiliar .titulos h3 {text-align:right; margin:0; font-size:27px; line-height:27px; color:#707478; font-family: 'yanone_kaffeesatzbold', sans-serif;}
#content_holder #content_auxiliar .titulos h2 {text-align:right; letter-spacing:-1px; margin:0;}


#content_holder #content_auxiliar ul {margin:0; padding:0;}
#content_holder #content_auxiliar ul li {background:url(../images/linha.jpg) center bottom repeat-x; margin:10px 0; padding:10px 0; overflow:hidden;}
#content_holder #content_auxiliar ul li img {float:left; margin-right:5px; max-width:102px; max-height:82px;}
#content_holder #content_auxiliar ul li .leia_mais {border-radius:5px; width:100px; height:20px; float:right; display:block; color:#FFF; text-align:center; background:url(../images/btn_saiba_mais_azul.jpg) center center repeat-x; margin-top:5px;}
#content_holder #content_auxiliar ul li .leia_mais:hover {opacity: 0.9; filter:Alpha(opacity=90); color:#000;}

#content_holder #content_auxiliar .clear {display:block; widows:0; height:0;}





/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ---------------------------- PÁGINA CONTATO --------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#conteudo .titulos {float:left; margin-left:10px;}
#conteudo .titulos h3 {margin:0; font-size:27px; line-height:27px; color:#707478; font-family: 'yanone_kaffeesatzbold', sans-serif;}
#conteudo .titulos h2 {letter-spacing:-1px; margin:0;}


#conteudo .content_mapa {width:940px; margin:20px auto; overflow:hidden;}
#conteudo h2.titulo_mapa {background:url(../images/icon_mapa.jpg) left center no-repeat; padding-left:75px; color:515e94; font-size:27px; line-height:30px; text-transform:uppercase; border-bottom:5px #515e94 solid;}
#conteudo .content_mapa iframe {margin:0 auto;}

.content_navegacao_forms {border-radius:5px; background:#e6e6e6; padding:5px; float:right; margin:11px 29px 0 0;}
.content_navegacao_forms ul {padding:0; margin:0;}
.content_navegacao_forms ul li {float:left;}
.content_navegacao_forms ul li a {color:#515e94; font-size:13px; padding:5px 5px 5px 35px; border-radius:5px; margin:0 2px;}
.content_navegacao_forms ul li a:hover {color:#000;}

.content_navegacao_forms ul li a.fale_conosco {background:url(../images/icon_fale_conosco.png) 5px center no-repeat;}
.content_navegacao_forms ul li a.trabalhe_conosco {background:url(../images/icon_trabalhe_conosco.png) 10px center no-repeat;}
.content_navegacao_forms ul li a.orcamentos {background:url(../images/icon_orcamento.png) 5px center no-repeat;}

/* ACVIVES */
.contato .content_navegacao_forms ul li a.fale_conosco {background:#FFF url(../images/icon_fale_conosco.png) 5px center no-repeat;}
.trabalhe_conosco .content_navegacao_forms ul li a.trabalhe_conosco {background:#FFF url(../images/icon_trabalhe_conosco.png) 10px center no-repeat;}
.orcamento .content_navegacao_forms ul li a.orcamentos {background:#FFF url(../images/icon_orcamento.png) 5px center no-repeat;}


#form_contato {padding:10px; overflow:hidden; margin:10px 0;}
#form_contato input, #form_contato textarea { width:230px; padding: 16px 10px 16px 60px; height:19px; line-height:45px; border-radius:5px; border:solid 1px #eee; font-family: 'yanone_kaffeesatzbold', sans-serif; color:#515e94; font-size:17px; line-height:19px; margin:10px 8px 10px 0;}
#form_contato textarea {width:860px; height:140px; resize:none; padding:10px 10px 10px 60px;}

#form_contato #nome {background:#e6e6e6 url(../images/icon_nome.jpg) left center no-repeat;}
#form_contato #email {background:#e6e6e6 url(../images/icon_mail.jpg) left center no-repeat;}
#form_contato #telefone {background:#e6e6e6 url(../images/icon_fone.jpg) left center no-repeat;}
#form_contato #mensagem {background:#f5f1ee url(../images/icon_mensagem.jpg) left center no-repeat;}

#form_contato #escolaridade {background:#e6e6e6 url(../images/icon_escolaridade.jpg) left center no-repeat;}
#form_contato #area {background:#e6e6e6 url(../images/icon_area.jpg) left center no-repeat;}
#form_contato #cargo {background:#e6e6e6 url(../images/icon_cargo.jpg) left center no-repeat;}
#form_contato #cidade, #form_contato #estado {background:#e6e6e6 url(../images/icon_cidade.jpg) left center no-repeat;}
#form_contato #curriculo {background:#e6e6e6 url(../images/icon_curriculo.jpg) left center no-repeat;}

#form_contato #empresa {background:#e6e6e6 url(../images/icon_empresa_form.jpg) left center no-repeat;}
#form_contato #area_atuacao {background:#e6e6e6 url(../images/icon_area_atuacao.jpg) left center no-repeat;}
#form_contato #servico {background:#e6e6e6 url(../images/icon_cargo.jpg) left center no-repeat;}


#form_contato #recaptcha_response_field {font-size:19px; padding:2px 5px !important; width:135px!important}
#form_contato #enviar {float:right; border-radius:0; width:100px; padding:5px 20px 5px 5px; background:#515e94 url(../images/icon_check_white.png) 72px center no-repeat; color:#FFF; font-size:17px; height:27px; text-transform:uppercase; font-family: 'allerregular', sans-serif; letter-spacing:-1px;}

/* PLACEHOLDER */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color:#515e94; }
input::-moz-placeholder, textarea::-moz-placeholder { color:#515e94; } /* firefox 19+ */
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color:#515e94; } /* ie */
input:-moz-placeholder, textarea:-moz-placeholder { color:#515e94; }





















/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ----------------------------- RODAPÉ ---------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#content_rodape {width:100%; height:143px; background: #d2d3d7 url(../images/bg_rodape.jpg) center center;}
#content_rodape #rodape {width:1000px; height:143px; margin:auto; left:50%; margin-left:-500px; position:relative; z-index:999;}

#content_rodape #rodape .logo {padding-top:20px; float:left;}


#content_rodape #rodape ul {margin:20px 0 5px 30px; padding:0; float:left; position:relative;}
#content_rodape #rodape ul li {float:left;}

#content_rodape #rodape ul li a {padding:3px 10px; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
#content_rodape #rodape ul li a:hover {background:#002036; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
#content_rodape #rodape ul li a, #content_rodape #rodape ul li {color:#FFF; font-family: 'yanone_kaffeesatzbold', sans-serif; font-size:21px;}

#content_rodape #rodape h4 {padding-left:70px; display:block; width:570px; font-family: 'cabinbold', sans-serif; font-size:15px; color:#FFF; overflow:hidden;}
#content_rodape #rodape h4.endereco {background:url(../images/icon_home_rodape.png) 45px center no-repeat;}
#content_rodape #rodape h4.telefone {background:url(../images/icn_telefone_rodape.png) 45px center no-repeat;}

#content_rodape #rodape .copyright {width:960px; display:block; text-align:center; bottom:0; position:absolute;}
.logo_homeweb {display:block; width:50px; height:66px; background:url(../images/logo_homeweb.png) center center no-repeat;}
#content_rodape #rodape .logo_homeweb {position:absolute; right:30px; top:30px;}
.barra-pesquisa-dicas {
    background: url(#d3d4d8);

}


.btn-comprar{
    background: #515e94;
    padding: 10px;
    color: #fff;
}

.input-lista-prod-orcamentos {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #000;
    text-align: center !important;
    width: 30px !important;
}


