#slider-stage {
	width: 890px;
	overflow:hidden;
	height: 175px;
	position:relative;
	z-index:80;
}
/*#slider-buttons {
	width: 296px;
	margin: 0 auto;
	position:relative;
	height:20px;
}*/
#slider-list {
	width: 2000px;
	border: 0;
	margin: 0;
	padding: 0;
	left: 0px;
	position: absolute;
}
#slider-list a.theme {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
	margin-right:8px;
	float: left;
	width: 120px;
	height: 140px;
	position:relative;
	cursor:pointer;
	text-decoration:none;
	overflow:hidden;
}
#slider-list a.theme:hover {
}
#slider-list a.theme span.nameVignette {
	position:absolute;
	left:4px;
	bottom:0px;
	color:#a0a09b;
	padding:3px;
	font-size:10px;
}
#slider-list a.theme:hover span.nameVignette {
	color:#494947;
}
#slider-list a.theme span.changeTheme {
	background:#363636;
	color:#FFD200;
	display:none;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	height:16px;
	left:0px;
	padding:4px 0 0;
	position:absolute;
	text-align:center;
	text-transform:uppercase;
	top:0px;
	width:120px;
}
#slider-list a.theme:hover span.changeTheme {
	display:block
}
#sliderBloc {
	height:145px;
	/*margin:0 auto;*/
	width:294px;
	overflow:hidden;
	z-index:99;
}
#sliderBloc a#previous, #sliderBloc a#next {
	background:url(../../../../imgs/prev.png) no-repeat left top;
	text-indent:-9999px;
	cursor:pointer;
	width:24px;
	height:34px;
	margin:15px 2px 0 490px;
	position:absolute;
}
#sliderBloc a#next {
	background:url(../../../../imgs/next.png) no-repeat left top;
	margin:15px 0 0 1410px;
	position:absolute;
}
#sliderBloc a#previous:hover, #sliderBloc a#next:hover {
	background-position:left -40px;
}
.demo{
	background: #F3F2DA none repeat scroll 0 0;
	padding:0 1em 1em;
}
